.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  height: 100vh;
  background-color: #0a122a;
  color: white;
  font-family: Arial, sans-serif;
}

.profileSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.profilePicture {
  background-color: #ffffff;
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  overflow: hidden;
}
.menSvgPI {
  position: relative;
  top: 10%;
}

.avatar {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
}

.infoGrid {
  display: flex;
  align-items: left;
  gap: 2rem;
  flex-direction: column;
}

.infoItem {
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: bold;
  color: #0078ff;
}

@media (max-width:650px) {
  .container{
    flex-direction: column;
  }
  .profilePicture{
    width: 20vh;
    height: 20vh;
  }
}

