.ExpensesPage {
  background-color: #000d1a;
  padding: 8vh;
  min-height: 100vh;
}
.backbtn {
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;
  height: 4vh;
}
.grpName span {
  color: #56d4f7;
  font-family: 'Gilroy Bold';
  font-weight: 700;
  font-size: 4vh;
}
.addExpensebtn {
  margin-top: 4vh;
  height: 10vh;
  transition: transform 0.25s ease;
}
.addExpensebtn:hover {
  transform: scale(1.15);
}
.expensesContn {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  gap: 2vh;
  margin: 5vh auto;
}

.expense {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  max-width: 35rem;
  max-height: 5rem;
  border: none;
  border-radius: 1vh;
  padding: 1vh;
  background-color: #002833;
}

.expenseBox {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.expenseInfo {
  display: flex;
  align-items: center;
  gap: 3vh;
}
.expenseAmount {
  font-size: 2.25vh;
  font-weight: 500;
  color: aliceblue;
  font-family: 'Saira SemiCondense Medium';
}

.expenseName {
  color: #56d4f7;
  font-family: 'Saira SemiCondense Bold';
  font-size: 2.9vh;
  font-weight: 600;
}

.expensePayer {
  display: flex;
  align-items: center;
  vertical-align: bottom;
  flex-direction: row;
  gap: 1vw;
  margin-top: 0.6vh;
}

.expensePayer span:nth-child(1) {
  font-size: 2vh;
  font-weight: 500;
  font-family: 'Saira SemiCondense Medium';
  color: rgb(207, 210, 99);
}
.expensePayer span:nth-child(2) {
  font-family: 'Saira SemiCondense Medium';
  font-size: 1.7vh;
  font-weight: 500;
  color: rgb(25, 93, 95);
}

.delExpense {
  height: 4vh;
}

/* Group Members Section */
.grpMemberContn h2,
.debtsSection h2 {
  color: #56d4f7;
  font-size: 2.75vh;
  text-align: left;
  margin: 2vh 0 1vh;
}

.debtsSection ul {
  list-style: none;
  padding: 0;
  color: rgb(207, 210, 99);
  text-align: left;
}

.debtsSection li {
  font-size: 2vh;
  font-family: 'Gilroy Medium';
  margin-bottom: 0.5vh;
  padding-left: 1vw;
  line-height: 185%;
}

.lendsDetail {
  display: flex;
  flex-direction: row;
  gap: 4vw;
  /* align-items: center; */
}

.lendsSettle {
  width: 7vh;
  height: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2.5vh;
  border: 1px solid var(--Accent-Accent--05-Accent-05, #33f5f5);
  background: rgba(51, 245, 245, 0.3);
}

.lendsSettle span {
  color: var(--Light-Light--100, #fff);
  text-align: center;
  font-family: "Pilat Extended";
  font-size: 1.15vh;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  text-transform: uppercase;
}

/* Debts Section */
.debtsSection li {
  color: rgb(241, 87, 87);
}

.grpMembers {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1vh;
}
.grpMembers span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4vh;
  padding: 1vh;
  font-family: 'Gilroy Medium';
  box-sizing: border-box;
  border-radius: 999px;
  outline: none;
  border: 1px solid var(--Accent-Accent--05-Accent-05, #33f5f5);
  color: #f2e2e2;
}

/* Responsive Design */
@media (max-width: 768px) {
  .ExpensesPage {
    padding: 5vw;
  }
  .grpName {
    margin-top: 5vh;
  }
  .grpName span {
    font-size: 2.5vh;
  }

  .expenseBox {
    padding: 1vh;
  }

  .expenseName {
    font-size: 2.2vh;
  }

  .expensePayer span {
    font-size: 1.5vh;
  }

  .grpMemberContn h2,
  .debtsSection h2 {
    font-size: 2vh;
  }

  .debtsSection li {
    font-size: 1.8vh;
  }
  .addExpensebtn{
    height: 8vh;
  }
}

@media (min-width: 1024px) {
  .grpName span {
    font-size: 4vh;
  }

  .addExpensebtn {
    height: 8vh;
  }

  .expenseBox {
    padding: 2vh;
    max-width: 40rem;
  }

  .grpMemberContn h2,
  .debtsSection h2 {
    font-size: 2.6vh;
  }
}
