.overlay {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.overlay_content {
  background: #0a122a;
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1vh 1vw;
  border-radius: 10px;
  min-width: 300px;
  text-align: left;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Saira SemiCondense Medium';
}
.overlay_content h3{
  color: aqua;
  margin: 1vh;
}
.overlay_content p{
  color: rgb(244, 238, 230);
  margin: 1vh;
}
.overlay_content strong{
  color: aliceblue;
}

.scrollable_component {
  border: 1px solid #ccc;
  padding: 10px;
  max-height: 100px;
  overflow-y: auto;
  margin-top: 10px;
  border-radius: 5px;
  background: #49a764;
}

.closeBtn{
  position: absolute;
  height: 4vh;
  width: 4vh;
  right:1%;
  top: 1%;
}

@media (max-width:500px) {
  .overlay_content {
    width: 80vw;
  }
}
